div.page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

div.player-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  :not(:last-child) {
    margin-right: 38px;
  }
  margin-bottom: 46px;
}

div.range {
  margin: 36px 29px 80px 29px;
}

div.track-time {
  color: #A5C0FF;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0px 28px;
}

div.controls {
  display: flex;
  justify-content: space-between;
  margin: 0px 26px 35px 26px;
  .custom-icon-button { 
    height: 20px;
    width: 20px;
  }
  div.left {
    margin-left: 3px;
  }
  div.right {
    display: flex;
    flex-direction: row;
    justify-content: end;
  }
}

.header {
  font-size: 24px;
    display: flex;
    justify-content: space-between;
    padding: 35px 30px 42px 30px;
    color: #DBE6FF;
}

.slide {
  display: flex;
  flex-direction: column;
  div {
    text-align: center;
    img {
      max-height: 100%;
      border-radius: 8px;
    }
  }
  div.img-container {
    width: 100%;
    height: 262px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    border-radius: 8px;
  }
  div.title {
    color: #EAF0FF;
    font-size: 24px;
    margin-top: 28px;
  }
  div.artist {
    color: #A5C0FF;
    font-size: 16px;
    margin-top: 5px;
    text-transform: uppercase;
  }
}

swiper-container {
  height: 370px;
}

swiper-slide.swiper-slide-active {
  width: calc(100% - 130px) !important;
  margin-left: 30px;
  margin-right: 30px;
  transform: scale(1.1);
  &:first-child {
    margin-left: 70px;
  }
}

swiper-slide.swiper-slide-prev {
  display: flex;
  justify-content: end;
  width: calc(100% + 40px) !important;
}

.custom-icon-button {
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  --background: transparent;
  --border-radius: 50%;
  height: 32px;
  width: 32px;
  margin: 0px;
}

.custom-range {
  --knob-size: 28px; /* Adjust the size as needed */
}

.custom-icon-button img {
  width: 100%;
  height: 100%;
}
